@{
    ViewBag.Title = "BlankHome";
}

<h2>No tfs url specified in the address bar or in the web.config.</h2>
<h3>You can specify it in the address bar by adding '?tfsConfigurationUrl=&lt;tfsUrl&gt;'.</h3>
<h3>Or you can add an entry in the web.config by adding / updating the key 'tfsConfigurationUrl'.</h3>

